@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@layer components {
  .menu-item {
    @apply inline-block border-b-4 border-[#c80000] p-5 text-lg uppercase hover:border-yellow-400 hover:text-yellow-400;
  }
  .menu-sub-item {
    @apply block px-7 py-2 text-lg uppercase hover:border-yellow-400 hover:text-yellow-400;
  }
  .border-li {
    @apply border-b-[1px] border-b-gray-50;
  }
  /*  */
  .mobile {
    @apply hidden md:block;
  }
  .menu-item-mobile {
    @apply inline-block  border-[#c80000] p-2 text-lg uppercase hover:border-yellow-400 hover:text-yellow-400;
  }
}

@layer utilities {
  .sub-dropdown:hover > .sub-dropdown-content {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  .sub-dropdown:hover > a {
    color: yellow;
  }
}
